#background {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    
    background-color: $dark;
    width: 100%;
    height: 100%;
}

#main-canvas {
    position: absolute;
    background-color: #ffffff;
    z-index: 1;
    @extend .box-shadow;
    
    transform: translate(120px, 120px);
}