/*
 * Project Ariana
 * File: content.scss
 * Description: This file contains the style definition for the main content. This includes 
 * the background and the canvas-element;
 */

 /*
.content {
	background-color: red;
	height: 100%;
}

.content-main {
    overflow: hidden;
}
*/

#background {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    
    background-color: $dark;
    width: 100%;
    height: 100%;
}

#main-canvas {
    position: absolute;
    background-color: #ffffff;
    z-index: 1;
    
    @extend .box-shadow;
    @include transform(translate(128px, 128px));
}