/*
 * Project Arinana
 * gui.scss
 *
 * This file contains the style definition for eneric GUI elements.
 *
 */
 
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: $dark;
    color: $white;
    font-family: $fonts;
    overflow: hidden;
}

#main-canvas {
    position: absolute;
    background-color: $dark;
    left: 0;
    top: 0;
}

/* Style-class for box-shadow. */
.box-shadow {
    box-shadow: 0px 0px $box-shadow-size $black; 
}

/* Styleclass for element with icons. */
.has-icons {
    svg, img {
        margin: 0.2 * $blocksize;
        height: 0.6 * $blocksize;;
        width: 0.6 * $blocksize;;
    }
    
    svg path, img path {
        fill: darken($white, 20%);
    }
}

/* Styleclass for all GUI elements that float above the canvas. */
.gui-item {
    @extend .box-shadow;
    position: absolute;
    background-color: $light;
    z-index: 2;
}

.is-button {
    cursor: pointer;   
}
