/*
 * Project Ariana
 * gui.scss
 * 
 * This file contains the style definition for generic GUI elements.
 *
 */
 
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: $dark;
    color: $white;
    font-family: $fonts;
    width : 100%;
    height: 100%;
    @include user-select(none);
}

/* Style-class for box-shadow. */
.box-shadow {
    box-shadow: 0px 0px $box-shadow-size $black; 
}

/* Style-class for box-shadow. */
.text-shadow {
    text-shadow: 0px 0px $box-shadow-size $black; 
}

/* Styleclass for all GUI elements that float above the canvas. */
.gui-element {
    @extend .box-shadow;
    position: absolute;
    background-color: $light;
    z-index: 2;
}

.tool {
    width: $blocksize;
    height: $blocksize;
    padding: 0 !important;
    margin: 0 !important;
    
    cursor: pointer;
    
    svg, i, img {
        margin: 0.2 * $blocksize;
        padding: 0 !important; 
        height: 0.6 * $blocksize;
        width: 0.6 * $blocksize; 
        font-size: 0.6 * $blocksize;
    }
    
    svg path {
        fill: $white;
    }
    
    &:hover {
        background-color: lighten($light, $hover-lighten);
    }
}

.active {
    background-color: lighten($light, $active-lighten);
    
    &:hover {
        background-color: lighten($light, $active-lighten);
    }
}

.inactive {
    cursor: default !important;
    
    &:hover {
        background-color: $light !important;
    }
    
    svg, img, i {
        cursor: default !important;
        opacity: 0.25;
    }
}