.input-group {
    
    * {
        border-radius: 0;
    }
    
    @media screen and (max-width: $breakpoint-tablet) {
        
        * {
            font-size: 8pt;
        }
    }
}

.input-small {
    width: $blocksize !important;
    
    @media screen and (max-width: $breakpoint-tablet) {
        width: $blocksize-tablet !important;
    }
}

.input-small-medium {
    width: 1.5 * $blocksize !important;
    
    @media screen and (max-width: $breakpoint-tablet) {
        width: 1.5 * $blocksize-tablet !important;
    }
}

.input-medium {
    width: 2 * $blocksize !important;
    @media screen and (max-width: $breakpoint-tablet) {
        width: 2 * $blocksize-tablet !important;
    }
}

.input-large {
    width: 4 * $blocksize !important;
    @media screen and (max-width: $breakpoint-tablet) {
        width: 4 * $blocksize-tablet !important;
    }
}

.input-group-addon {
    cursor: default !important;
}

.filter-options {
    position: absolute;
    left: 1.5 * $blocksize;
    width: calc(100% - #{2 * $blocksize});
    max-width: 12 * $blocksize;
    min-width: 5.5 * $blocksize;
    bottom: 0;

    @extend .gui-element;
    min-height: $blocksize;
    
    @media screen and (max-width: $breakpoint-tablet) {
        width: calc(100% - #{2 * $blocksize-tablet});
        max-width: 12 * $blocksize-tablet;
        min-width: 5.5 * $blocksize-tablet;
        left: 1.5 * $blocksize-tablet;
    }
    
    .float-left {
        float: left;
    }
    
    .float-right {
        float: right;
    }
    
    .center-box {
        width: calc(100% - #{2 * $blocksize});
        
        @media screen and (max-width: $breakpoint-tablet) {
            width: calc(100% - #{2 * $blocksize-tablet});
        }
    }
        
    .input-group {  
        width: 100%;
        
        .filter-name {
            min-width: 2 * $blocksize;
            width: 50%;
            @media (max-width: 10 * $blocksize-tablet) {
                display: none;
            }
        }
        
        .filter-checkbox {
            min-width: 2 * $blocksize;
            
            @media screen and (max-width: $breakpoint-tablet) {
                min-width: 2 * $blocksize-tablet;
            }
            
            width: 50%;
            @media (max-width: 10 * $blocksize-tablet) {
                width: 100%;
            }
        }
        
        .input-group-addon, .number {
            width: 2 * $blocksize;
            
            @media screen and (max-width: $breakpoint-tablet) {
                width: 2 * $blocksize-tablet;
            }
            
            @media (max-width: 10 * $blocksize-tablet) {
                width: 50%;
            }
        }
        
        .slider {
            width: calc(100% - #{2 * $blocksize});
            
            @media screen and (max-width: $breakpoint-tablet) {
                width: calc(100% - #{2 * $blocksize-tablet});
            }
            
            @media (max-width: 10 * $blocksize-tablet) {
                width: 100%;
            }
        }
        
        .number {
            width: 2 * $blocksize;
            
            @media screen and (max-width: $breakpoint-tablet) {
                width: 2 * $blocksize-tablet;
            }
           
            @media (max-width: 10 * $blocksize-tablet) {
                display: none;
            }
        }
    }
}