/*
 * Project Ariana
 * modals.scss
 * 
 * This file contains the style definitions for input fields.
 *
 */
 
.input-group {
    
    .input-group-addon, .form-control {
        border-radius: 0;
        height: 0.5 * $blocksize;
    }
}

.form-control:focus {
    border-color: $white;
    outline: 0px none;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px $brand-color;
}

.input-small {
    width: $blocksize !important;
}

.input-small-medium {
    width: 1.5 * $blocksize !important;
}

.input-medium {
    width: 2 * $blocksize !important;
}

.input-large {
    width: 4 * $blocksize !important;
}

.input-group-addon {
    cursor: default !important;
}

.filter-options {
    position: absolute;
    left: 1.5 * $blocksize;
    width: calc(100% - #{2 * $blocksize});
    max-width: 12 * $blocksize;
    min-width: 5.5 * $blocksize;
    bottom: 0;

    @extend .gui-element;
    min-height: $blocksize;
    
    @media screen and (max-width: $breakpoint-tablet) {
        width: calc(100% - #{2 * $blocksize-tablet});
        max-width: 12 * $blocksize-tablet;
        min-width: 5.5 * $blocksize-tablet;
        left: 1.5 * $blocksize-tablet;
    }
    
    .tool {
        width: $blocksize !important;
        height: $blocksize !important;
        
        svg, i, img {
            padding:    0.2 * $blocksize !important;
            margin:     0 !important !important;
            height:     0.6 * $blocksize !important;
            width:      0.6 * $blocksize !important;
            font-size:  0.6 * $blocksize !important;
        }
    }
    
    .float-left {
        float: left;
    }
    
    .float-right {
        float: right;
    }
    
    .center-box {
        width: calc(100% - #{2 * $blocksize});
    }
        
    .input-group {  
        width: 100%;
        
        .filter-name {
            min-width: 2 * $blocksize;
            width: 50%;
            @media (max-width: 10 * $blocksize) {
                display: none;
            }
        }
        
        .filter-checkbox {
            min-width: 2 * $blocksize;           
            width: 50%;
        }
        
        .input-group-addon, .number {
            width: 2 * $blocksize;
            
            @media (max-width: 10 * $blocksize) {
                width: 50%;
            }
        }
        
        .slider {
            width: calc(100% - #{2 * $blocksize});
            @media (max-width: 10 * $blocksize) {
                width: 100%;
            }
        }
        
        .number {
            width: 2 * $blocksize;
           
            @media (max-width: 10 * $blocksize) {
                display: none;
            }
        }
    }
}