/*
 * Project Ariana
 * landing.scss
 * 
 * This file contains the style definition for the landing page.
 *
 */
 
.landing {
    background-color: $light;
}

.lighten {
    background-color: lighten($light, 5%);
}

header {
    text-align: center;
    color: #fff;

    background-color: $dark;
    border-bottom: $border-thickness solid $brand-color;

    .btn-landing {
        background-color: $light;
        border: $border-thickness solid $brand-color;
        color: #fff;

        &:hover {
            color: $brand-color;            
        }
    }

	.intro-text {
    	padding-top: 100px;
    	padding-bottom: 50px;

        @media screen and (min-width:768px) {
            padding-top: 200px;
            padding-bottom: 100px;
        }

        .intro-lead-in {
            margin-bottom: 25px;
            font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
            font-size: 22px;
            font-style: italic;
            line-height: 22px;

            @media screen and (min-width:768px) {
                margin-bottom: 25px;
                font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
                font-size: 40px;
                font-style: italic;
                line-height: 40px;
            }
        }

        .intro-heading {
            margin-bottom: 25px;
            text-transform: uppercase;
            font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
            font-size: 50px;
            font-weight: 700;
            line-height: 50px;

            @media screen and (min-width:768px) {
                margin-bottom: 50px;
                text-transform: uppercase;
                font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
                font-size: 75px;
                font-weight: 700;
                line-height: 75px;
            }
        }
    }
}

section {
    padding: 100px 0;
    color: #fff;
    border-bottom: $border-thickness solid $brand-color;

    @media screen and (min-width:768px) {
        padding: 75px 0;
    }

    h2 {
        &.section-heading {
            color: $brand-color;
            margin-top: 0;
            margin-bottom: 15px;
            font-size: 40px;
        }
    }

    h3 {
        &.section-subheading {
            color: #fff;
            margin-bottom: 75px;
            text-transform: none;
            font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
            font-size: 16px;
            font-style: italic;
            font-weight: 400;
        }
    }
}

.service-heading {
    color: $brand-color;
    margin: 15px 0;
    text-transform: none;
}

.team-member {
    margin-bottom: 50px;
    text-align: center;

    img {
        margin: 0 auto;
        border: 7px solid #fff;
    }

    h4 {
        margin-top: 25px;
        margin-bottom: 0;
        text-transform: none;
    }

    p {
        margin-top: 0;
    }
}

footer {
    padding: 25px 0;
    text-align: center;

    span {
        &.copyright {
            text-transform: uppercase;
            text-transform: none;
            font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
            line-height: 40px;
        }
    }

    ul {
        &.quicklinks {
            margin-bottom: 0;
            text-transform: uppercase;
            text-transform: none;
            font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
            line-height: 40px;
        }
    }
}

.mdi-large {
    display: inline-block;
    width: 1.5 * $blocksize;
    height: 1.5 * $blocksize;
    text-align: center;
    
    font-size: $blocksize;

    border: $border-thickness solid $brand-color;
    border-radius: 50%;
}

.bg-cubes {
    background-image: url("../assets/img/cubes.png");
}

ul.social-buttons {
    margin-bottom: 0;
}

ul.social-buttons li a {
    display: block;
    width: $blocksize;
    height: $blocksize;
    box-sizing: border-box;

    border-radius: 100%;
    font-size: $blocksize;
    line-height: $blocksize;

    color: #fff;

    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;

    &:hover {
        color: $brand-color;
    }
}

blockquote {
    font-size: 20px;
}

.text-brand {
    color: $brand-color;
}