/*
 * Project Ariana
 * File: layers.scss
 * Description: This file contains the style definition for the Layer Selector.
 *
 */

.layer-container {
    position: absolute;
    top: 1.5 * $blocksize;
    right: 0;
    z-index: 2;

    width: 3 * $blocksize;
//     max-height: calc(100% - 2 * $blocksize);

//     .row {
//         &.layers {
//             margin-bottom: 0.25 * $blocksize;
//             @extend .box-shadow;
//         }
//     }
    
//     .layer {
//         height: 1 * $blocksize;
//         padding: 0;

//         background-color: lighten($light, 10%);
        
//         &.options {
//             color: $brand-color;
//             text-align: center;
//         }

//         &.content {

//         }
//     }

//     padding-bottom: 0.25 * $blocksize;
}

accordion {
	span {
		text-transform: uppercase;
	}
}

.item {
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.panel-group .panel {
	border-radius: 0;
}

.panel-group .panel + .panel {
	margin-top: 0;
}

.panel-body {
	padding: 0;
}