.thumbnail:hover {
    background-color: darken(#e5e5e5, 5%);
}

/* Upload modal */
.modal-body {
    .drop-box {
        background: #F8F8F8;
        border: 5px dashed #DDD;
        height: 200px;
        line-height: 200px;
        text-align: center;
        margin: 10px;
    }
    
    .dragover {
        border: 5px dashed blue;
    }

    span {
        display: inline-block;
        vertical-align: middle;
    }
} 