/*
 * Project Ariana
 * modals.scss
 * 
 * This file contains the style definitions for the modals.
 *
 */

.thumbnail:hover {
    background-color: darken(#e5e5e5, 5%);
}

/* Upload modal */
.modal-body {
    .drop-box {
        background: $white;
        border: 4px dashed $light;
        height: auto;
        min-height: 2.25 * $blocksize;
        line-height: 2.25 * $blocksize;
        text-align: center;
        margin: 10px;
        color: $light;
        
        img {
            float: left;
            width:  auto;
            height: 2 * $blocksize;
            margin: 0.125 * $blocksize;
        }
    }
    
    .dragover {
        border: 4px dashed $brand-color;
    }

    span {
        display: inline-block;
        vertical-align: middle;
    }

    .not-visible {
        visibility: hidden;
    }
}

@media screen and (max-width: $breakpoint-tablet) {
    .drop-box {
        min-height: 2.25 * $blocksize-tablet;
        line-height: 2.25 * $blocksize-tablet;

        img {
            height: 2 * $blocksize-tablet;
            margin: 0.125 * $blocksize-tablet;
        }
    }
}

.modal-content {
    border-radius: 0;
    background-color: $light;

    .form-control:focus {
        border-color: $white;
        outline: 0px none;
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px $brand-color;
    }

    .btn-primary {
        background-color: $brand-color;
        border: $border-thickness solid $brand-color;
        color: $dark;

        &:hover {
            color: $light;            
        }
    }

    .btn-default {
        background-color: $white;
    }

    .thumbnail {
        background-color: $dark;
        border: none;
        border-radius: 0;

        cursor: pointer;

        h3 {
            color: $white;
        }

        &:hover {
            background-color: lighten($dark, 5%);
        }
    }

    .modal-header {
        border-color: $white;

        h1 {
            color: $white;
        }
    }

    .modal-footer {
        border-color: $white;
    }
}