/*
 * Project Ariana
 * modals.scss
 * 
 * This file contains the style definitions for the modals.
 *
 */

.thumbnail:hover {
    background-color: darken(#e5e5e5, 5%);
}

/* Upload modal */
.modal-body {
    .drop-box {
        background: #F8F8F8;
        border: 4px dashed #DDD;
        height: auto;
        min-height: 2.25 * $blocksize;
        line-height: 2.25 * $blocksize;
        text-align: center;
        margin: 10px;
        
        img {
            float: left;
            width:  auto;
            height: 2 * $blocksize;
            margin: 0.125 * $blocksize;
        }
    }
    
    .dragover {
        border: 4px dashed $brand-color;
    }

    span {
        display: inline-block;
        vertical-align: middle;
    }

    .not-visible {
        visibility: hidden;
    }
}

@media screen and (max-width: $breakpoint-tablet) {
    .drop-box {
        min-height: 2.25 * $blocksize-tablet;
        line-height: 2.25 * $blocksize-tablet;

        img {
            height: 2 * $blocksize-tablet;
            margin: 0.125 * $blocksize-tablet;
        }
    }
}



