/*
 * Project Ariana
 * toolbox.scss
 *
 * This file contains the style definition for the Toolbox and the Color 
 * Preview elements.
 *
 */

.toolset {
    position : absolute;
    width: $blocksize;
    left: 0;
    
    top: 1.5 * $blocksize;
    
    @extend .gui-element;
}

.toolbox {
    position: absolute;
    top: 0;
    margin-left: $blocksize;
    width: $blocksize;

    z-index: 1;
    background-color: $light;   

    .tool {      
    
        background-color: lighten($light, $active-lighten);
        
        &:hover {
            background-color: lighten($light, $active-lighten + $hover-lighten);
        }
    }
    
    .active {
        background-color: lighten($light, 2 * $active-lighten);
        
        &:hover {
            background-color: lighten($light, 2 * $active-lighten);
        }
    }
    
    .inactive {
        background-color: lighten($light, $active-lighten) !important;
        
        &:hover {
            background-color: lighten($light, $active-lighten) !important;
        }
    }
}

.tool-settings {
    position: absolute;
    top: 0;
    margin-left: $blocksize;
    width: 4 * $blocksize;
    height: 4 * $blocksize;

    z-index: 3;
    background-color: lighten($light, 2 * $active-lighten);
}

.large-tool-settings {
    width: 5.5 * $blocksize;
    height: auto;
    padding: 0.25 * $blocksize;

    #palette {
        float: left;
        display: block;
        width: 4 * $blocksize;
        height: 4 * $blocksize;
    }

    #hue {
        float: left;
        display: block;
        width: 1 * $blocksize;
        height: 4 * $blocksize;
    }
}

.color-preview {
    position: absolute;
    bottom: 0;
    left: 0;
    
    @extend .tool;
    @extend .gui-element;   
    
    .color-primary, .color-secondary {
        position: absolute;
        height: 0.625 * $blocksize;
        width: 0.625 * $blocksize;
    }
    
    .color-primary {
        left:  0.25 * $blocksize;
        bottom: 0.25 * $blocksize;
        background-color: black;
        z-index: 4;
    }

    .color-secondary {
        left: 0.125 * $blocksize;
        bottom: 0.125 * $blocksize;
        background-color: black;
        z-index: 3;
    }   
}