/*
 * Project Ariana
 * toolbar.scss
 * 
 * This file contains the style definition for the Toolbar element.
 *
 */
 
.toolbar {    
    @extend .gui-element;
    position: absolute;
    width : 100%; 
    height: auto;
    
    border-bottom: $border-thickness solid $brand-color;
    
    ul {
        height: $blocksize;
        list-style: none;
        margin: 0;
        padding: 0;
    }
    
    .seperator {
        margin-top:    0.1 * $blocksize;
        margin-bottom: 0.1 * $blocksize;
        margin-left:  -1px;
        margin-right: -1px;
        padding: 0;
        height: 0.8 * $blocksize;
        width: 2px;
        background-color: darken($light, $seperator-darken);
        z-index: 3;
    }

    .brand {
        width: 2.5 * $blocksize;
        height: $blocksize;
        padding: 0 0.25 * $blocksize;
        
        font-size: 20pt;
        line-height: $blocksize;
        font-family : $fonts;
        color: $brand-color;
    }
    
    .float-left {
        float: left;
    }
    
    .float-right {
        float: right;
    }
}

@media screen and (max-width: $breakpoint-tablet) {
    .toolbar {
        ul {
            height: $blocksize-tablet;
        }

        .seperator {
            margin-top: 0.1 * $blocksize-tablet;
            margin-bottom: 0.1 * $blocksize-tablet;
            height: 0.8 * $blocksize-tablet;
        }

        .brand {
            font-size: 15pt;
            width: 2.5 * $blocksize-tablet;
            height: $blocksize-tablet;
            padding: 0 0.25 * $blocksize-tablet;

            line-height: $blocksize-tablet;
        }
    }
}