#toolbar {    
    top : 0;
    width : 100%;
    height : $blocksize;
    @extend .gui-item;
    
    .tool {
        display : block;
        float : left;
        height : $blocksize;
        font-size : 30pt;
        width : $blocksize;
        backround-color : $light;
        
        &:hover {
            background-color : lighten($light, 10%);
        }
        
        @extend .has-icons;
    }
}
