/*
 * Project Arinana
 * toolbar.scss
 *
 * This file contains the style definition for the Toolbar element.
 *
 */
 
#toolbar {    
    @extend .gui-item;
    position: relative;
    border-color: transparent;
    width : 100%;
    padding: 0;
    margin: 0;
    
    .navbar-collapse, .navbar-header, .container-fluid, .navbar-right {
        margin: 0px;
        padding: 0px; 
        // 100% - width of brand
        width: calc(100% - 2 * $blocksize);
    }

    .tool {
        width: $blocksize;
        height: $blocksize;
        padding: 0;
        margin: 0;
               
        &:hover {
            background-color: lighten($light, $hover-lighten);
        }
        
        @extend .is-button;
        @extend .has-icons;

        a {
            width: $blocksize;
            height: $blocksize;
            padding: 0;       
            margin: 0;   
        }
    }

    .seperator {
        /*width: 2px;*/
        top: 0.1 * $blocksize;
        height: 0.8 * $blocksize;
        width: 2px;
        margin: auto;
        background-color: darken($light, 5%);
        margin-left: -1px;
        margin-right: -1px;
        z-index: 3;
    }

    .navbar-brand {
        width: 2 * $blocksize;
        height: $blocksize;
        margin: 0;
        padding: 0 0.25 * $blocksize;
        font-size: 20pt;
        line-height: $blocksize;
        font-family : $fonts;
        color: $brand-color;
    }

    button.navbar-toggle {
        border: 0;
        width: $blocksize;
        height: $blocksize;
        border-radius: 0;
        margin: 0;
        padding: 0;
    
        @extend .has-icons;
        @extend .is-button;
        
        &:hover, &:active, &:focus {
            background-color: lighten($light, $hover-lighten);
        }
    }
}
