/*
 * Project Arinana
 * toolbox.scss
 *
 * This file contains the style definition for the Toolbox and the Color Preview
 * elements.
 *
 */

.toolbox {
    
}

accordion {
	span {
		text-transform: uppercase;
	}
}

.item {
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.panel-group .panel {
	border-radius: 0;
}

.panel-group .panel + .panel {
	margin-top: 0;
}

.panel-body {
	padding: 0;
}

.color-preview {
    @extend .tool;
    @extend .gui-element;
    
    .color-primary, .color-secondary {
        position: absolute;
        height: 0.625 * $blocksize;
        width: 0.625 * $blocksize;
        @extend .box-shadow;
    }
    
    .color-primary {
        left:  0.25 * $blocksize;
        bottom: 0.25 * $blocksize;
        background-color: green;
        z-index: 4;
    }

    .color-secondary {
        left: 0.125 * $blocksize;
        bottom: 0.125 * $blocksize;
        background-color: red;
        z-index: 3;
    }   
}