.fade-on {
    @include transition(opacity $fade-speed ease);
    opacity: $fade-amount;
    pointer-events: none !important;
    z-index: 2;
}

.fade-off {
    @include transition(all $fade-speed ease);
    opacity: 1;
    z-index: 2;
}

.scale-on {
    @include transition(transform $scale-speed ease);
    @include transform(scale($scale-amount, $scale-amount) translate(0.25 * $blocksize, -0.25 * $blocksize));
}

.scale-off {
    @include transition(transform $scale-speed ease);
    @include transform(scale(1,1) translate(0px, 0px));
}