/*
 * Project Arinana
 * variables.scss
 *
 * This file contains variables used by other .scss files.
 *
 */

/* Fonts */
$fonts: Roboto, Noto, Helvetica, Arial, sans-serif;

/* Colors */
$dark:      #222;
$light:     #333;

$white:     #bbb;
$black:     #000;
$brand-color: #8c4;

/* Layout */
$blocksize: 64px;

/* Effects */
$hover-lighten: 10%;
$box-shadow-size: 4px;