/*
 * Project Ariana
 * variables.scss
 * 
 * This file contains variables used by other .scss files.
 *
 */

/* Fonts */
$fonts: Roboto, Noto, Helvetica, Arial, sans-serif;

/* Colors */
$dark:      #222;
$light:     #333;

$white:     #bbb;
$black:     #000;
$brand-color: #8c4;

/* Layout */
$blocksize: 64px;

/* Effects */
$box-shadow-size: 4px;
$border-thickness: 2px;

$hover-lighten: 10%;
$active-lighten: 15%;
$seperator-darken: 2%;

$fade-amount: 0.25;
$fade-speed : 100ms;

$scale-amount: 2;
$scale-speed: 100ms;