vendor/
node_modules/
bower_components/
*.tmp.txt
build/
src/app/renderengine/shaders.ts
.idea/*
src/.idea/*
*.js.map
*.log
Thumbs.db
*/Thumbs.db
src/*/Thumbs.db
/**/Thumbs.db
.sass-cache/
.tscache/*
src/app/drawengine/*.js
src/app/editingengine/*.js
