<!-- Template for the toolbar. -->

<div class="toolbar"
    ng-class="{'fade-on': !checkVisible(), 'fade-off': checkVisible()}">
    <div class="brand float-left">
        ARIANA
    </div>
    
    <ul class="clearfix">
        <li class="tool float-left" ng-click="openNewFileModal()">
            <!-- new canvas -->
            <i class="mdi mdi-file"></i>
        </li>
        <li class="tool float-left" ng-click="openUploadModal()">
            <!-- import file -->
            <i class="mdi mdi-upload"></i>
        </li>
        <li class="tool float-left" ng-click="saveImage()">
            <!-- export file --> 
            <i class="mdi mdi-download"></i>
        </li>
        <li class="seperator float-left"></li>
        <li class="inactive tool float-left" ng-click="openTransformationModal()">
            <!-- standard transformations -->
            <i class="mdi mdi-rotate-right-variant"></i>
        </li>
        <li class="tool float-left" ng-click="openFilterModal()">
            <!-- filters and effects -->
            <i class="mdi mdi-star-outline"></i>
        </li>
 
        <!-- Float-right elements are in reverse order. -->
        <li class="inactive tool float-right">
            <!-- help button -->
            <i class="mdi mdi-school"></i>
        </li>
        <li class="seperator float-right"></li>
        <li class="inactive tool float-right">
            <!-- redo button -->
            <i class="mdi mdi-redo-variant"></i>
        </li>
        <li class="inactive tool float-right">
            <!-- undo button -->
            <i class="mdi mdi-undo-variant"></i>
        </li>
    </ul>
</div>

<!-- Template for the filter-options element. -->

<div class="filter-options" 
    ng-show="filter.filterObject"
    ng-class="{'fade-on': !checkVisible(), 'fade-off': checkVisible()}"> 
    <div class="tool float-left" ng-click="cancel()"> <i class="mdi mdi-close"> </i> </div>
    <div class="center-box float-left">
    
        <div class="input-group">
            <span class="input-group-addon filter-name"> {{filter.filterName | titlecase}} Filter </span> 
            <span class="input-group-addon filter-checkbox"> <input type="checkbox" ng-model="filter.currentlayerOnly"> </input> apply to current layer only </span>
        </div>
    
        <div class="input-group" ng-repeat="(name, parameter) in filter.filterParameters">
            <span class="input-group-addon"> {{name}} </span>
            <input type="range"  class="form-control slider" ng-model="parameter.value"
                min="{{parameter.min}}" max="{{parameter.max}}" step="{{parameter.step}}"> </input>
            <input type="text" number class="form-control number" ng-model="parameter.value"
                min="{{parameter.min}}" max="{{parameter.max}}" step="{{parameter.step}}"> </input>
        </div>
    
    </div>
    <div class="tool float-right" ng-click="apply()">  <i class="mdi mdi-check"> </i> </div>
</div>
