<div id="toolbar">
    <div class="brand float-left">
        <!-- <i src="/amdi mdi-height="60px"> -->
        ARIANA
    </div>
    
    <ul>
        <li class="inactive tool float-left">
                <!-- new file -->
                <i class="mdi mdi-file"></i>
        </li>
        <li class="tool float-left" ng-click="openUploadModal()">
                <!-- load file -->
                <i class="mdi mdi-upload"></i>
        </li>
        <li class="tool float-left" ng-click="saveImage()">
                <!-- export file --> 
                <i class="mdi mdi-download"></i>
        </li>
        <li class="seperator float-left"></li>
        <li class="inactive tool float-left" ng-click="openTransformationModal()">
                <!-- standard transformations -->
                <i class="mdi mdi-rotate-right-variant"></i>
        </li>
        <li class="inactive tool float-left" ng-click="openFilterModal()">
                <!-- filters and effects -->
                <i class="mdi mdi-star-outline"></i>
        </li>
 
        <li class="inactive tool float-right">
            <!-- help button -->
            <i class="mdi mdi-school"></i>
        </li>
        <li class="seperator float-right"></li>
        <li class="inactive tool float-right">
                <!-- redo button -->
                <i class="mdi mdi-redo-variant"></i>
        </li>
        <li class="inactive tool float-right">
                <!-- undo button -->
                <i class="mdi mdi-undo-variant"></i>
        </li>

    </ul>

</div>
