<div class="tool" ng-class="{active: active}">
	<i class="mdi mdi-palette" ></i>
	<div class="tool-settings large-tool-settings" ng-show="isActive('palette')">
		
        <canvas 
            id="palette" 
            width="256px" 
            height="256px" 
            ng-mousedown="paletteMouseDown($event)" 
            ng-mousemove="paletteMouseMove($event)" 
            ng-mouseup="paletteMouseUp()"></canvas>
		
        <canvas 
            id="hue" 
            width="48px" 
            height="256px" 
            ng-mousedown="hueMouseDown($event)" 
            ng-mousemove="hueMouseMove($event)" 
            ng-mouseup="hueMouseUp()"></canvas>
            
        <div class="float-left">
            <div class="input-group">
                <span class="input-group-addon input-small"> R </span> 
                <input type="number" class="form-control number input-small-medium" 
                    ng-model="config.tools.colors.primary.r" ng-change="validate(event); updateHSV(); updateHEX();" ng-blur="blur()"></input>
            </div>
            <div class="input-group">
                <span class="input-group-addon input-small"> G </span> 
                <input type="number" class="form-control number input-small-medium" 
                    ng-model="config.tools.colors.primary.g" ng-change="validate(event); updateHSV(); updateHEX();" ng-blur="blur()"></input>
            </div>
            <div class="input-group">
                <span class="input-group-addon input-small"> B </span> 
                <input type="number" class="form-control number input-small-medium"
                    ng-model="config.tools.colors.primary.b" ng-change="validate(event); updateHSV(); updateHEX();" ng-blur="blur()"></input>
            </div>
        </div>
        
        <div class="float-left">
            <div class="input-group">
                <span class="input-group-addon input-small"> H </span>
                <input type="number" class="form-control number input-small-medium" 
                    ng-model="color.H" ng-change="validate(event); updateRGB(); updateHEX();" ng-blur="blur()"></input>
            </div>
            <div class="input-group">
                <span class="input-group-addon input-small"> S </span>
                <input type="number" class="form-control number input-small-medium" 
                    ng-model="color.S" ng-change="validate(event); updateRGB(); updateHEX();" ng-blur="blur()"></input>
            </div>
            <div class="input-group">
                <span class="input-group-addon input-small"> V </span>
                <input type="number" class="form-control number input-small-medium" 
                    ng-model="color.V" ng-change="validate(event); updateRGB(); updateHEX();" ng-blur="blur()"></input>
            </div>
        </div>
        
        <div class="input-group">
            <span class="input-group-addon input-small"> Hex </span> 
            <input type="text" class="form-control text input-large" 
                ng-model="hex" ng-change="validate(); updateRGBfromHEX(); updateHSV();" ng-blur="blur()"></input>
        </div>
        
	<div>
</div>