<div class="tool" ng-class="{active: active}">
	<i class="mdi mdi-palette" ></i>
	<div class="tool-settings large-tool-settings" ng-show="isActive('palette')">
		<canvas 
            src="assets/img/bgGradient.png" 
            id="palette" 
            width="256px" 
            height="256px" 
            style="background: hsl({{palette.color.H}}, 100%, 50%)" 
            ng-mousedown="palMouseDown($event)" 
            ng-mousemove="palMouseMove($event)" 
            ng-mouseup="palMouseUp()"></canvas>
		
        <canvas 
            id="hue" 
            width="32px" 
            height="256px" 
            ng-mousedown="hueMouseDown($event)" 
            ng-mousemove="hueMouseMove($event)" 
            ng-mouseup="hueMouseUp()"></canvas>
            
		<div class="input-group">
		    <span class="input-group-addon"> R </span> 
		    <input type="text" class="form-control text" ng-model="config.tools.colors.primary.r" min="0" max="255"></input>
		</div>
		<div class="input-group">
		    <span class="input-group-addon"> G </span> 
		    <input type="text" class="form-control text" ng-model="config.tools.colors.primary.g" min="0" max="255"></input>
		</div>
		<div class="input-group">
		    <span class="input-group-addon"> B </span> 
		    <input type="text" class="form-control text" ng-model="config.tools.colors.primary.b" min="0" max="255"></input>
		</div>
		<div class="input-group">
		    <span class="input-group-addon"> H </span>
		    <input type="text" class="form-control text" ng-model="palette.color.H" min="0" max="360"></input>
		</div>
		<div class="input-group">
		    <span class="input-group-addon"> S </span>
		    <input type="text" class="form-control text" ng-model="palette.color.S" min="0" max="100"></input>
		</div>
		<div class="input-group">
		    <span class="input-group-addon"> V </span>
		    <input type="text" class="form-control text" ng-model="palette.color.V" min="0" max="100"></input>
		</div>
		<div class="input-group">
		    <span class="input-group-addon"> Hex </span> 
		    <input type="text" class="form-control text" ng-model="palette.color.hex"></input>
		</div>
        
	<div>
</div>