<!-- <div id="filters" class="modal fade custom-pop-up" role="dialog" ng-controller="FilterModalController">
    <div class="modal-dialog modal-lg">
    
    <div class="modal-content"> -->
        <div class="modal-header">
            <h1> {{title}} </h1>
            <h2> {{subtitle}} </h2>
        </div>
        
        <div class="modal-body">
            <div class="row">
                <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3" ng-repeat="filter in filters">
                    <div class="thumbnail" ng-click="selectFilter(filter.name)"> 
                        <img ng-src="{{filter.image}}"> </img>
                        <div class="caption">
                            <h3> {{filter.name}} </h3> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <!-- </div>
    
    </div>
</div> -->
