<div class="modal-header">
    <h1 class="modal-title"> New Canvas </h1>
</div>

<div class="modal-body">
    <form class="input-form">
        <label for="inputWidth">Width: </label>
        <input type="number" id="inputWidth" ng-model="inputWidth" /><br>
        <label for="inputHeight">Height: </label>
        <input type="number" id="inputHeight" ng-model="inputHeight" />
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default btn-lg" ng-click="close()"> Cancel </button>
    <button type="button" class="btn btn-primary btn-lg" ng-click="create()"> Create Canvas </button>
</div>
