<canvas src="assets/img/bgGradient.png" id="palette" width="256px" height="256px" style="background: hsl({{color.H}}, 100%, 50%)" ng-mousedown="palMouseDown($event)" ng-mousemove="palMouseMove($event)" ng-mouseup="palMouseUp()">
</canvas>
<canvas id="hue" width="32px" height="256px" ng-mousedown="hueMouseDown($event)" ng-mousemove="hueMouseMove($event)" ng-mouseup="hueMouseUp()">
</canvas>
<div class="preview">
</div>
<div class="textinput">
    R: 
    <input type="number" class="rgbhsv" ng-model="color.R" min="0" max="255">
</div>
<div class="textinput">
    G: 
    <input type="number" class="rgbhsv" ng-model="color.G" min="0" max="255">
</div>
<div class="textinput">
    B: 
    <input type="number" class="rgbhsv" ng-model="color.B" min="0" max="255">
</div>
<div class="textinput">
    H: 
    <input type="number" class="rgbhsv" ng-model="color.H" min="0" max="360">
</div>
<div class="textinput">
    S: 
    <input type="number" class="rgbhsv" ng-model="color.S" min="0" max="100">
</div>
<div class="textinput">
    V: 
    <input type="number" class="rgbhsv" ng-model="color.V" min="0" max="100">
</div>
<div class="textinput">
    Hex: 
    <input type="text" class="hex" ng-model="color.hex">
</div>