<div id="toolset">
    <div class="tool" id="{{name}}" ng-repeat="(name, tool) in toolbox" ng-controller="toolsetCtrl" ng-click="toggle($event)">
        <img src="assets/vectors/{{tool.image}}"></img>
        <div class="tool" id="{{name}}" ng-repeat="(name, subtool) in tool.tools" ng-controller="toolsetCtrl" ng-click="">
            <img src="assets/vectors/{{subtool.image}}"></img>
        </div>
    </div>
</div>

<div id="color-preview" ng-click="swapColors()">
    <div id="color-left" style="background-color: {{primary}}"> </div>
    <div id="color-right" style="background-color: {{secondary}}"> </div>
</div>