<div class="layers" 
    ng-right-click
    ng-class="{'fade-on': !checkVisible(), 'fade-off': checkVisible()}">

    <div class="layer-header"
        ng-show="checkVisible()">
        <!-- <div class="tool float-left" ng-click="addLayer()" ng-hide="hidden"> <i class="mdi mdi-plus"> </i> </div> -->
        <div class="tool float-left" ng-click="hideLayers()" ng-hide="hidden"> <i class="mdi mdi-chevron-right"> </i> </div>
        <div class="tool float-left" ng-click="showLayers()" ng-show="hidden"> <i class="mdi mdi-chevron-left"> </i> </div>
        <h2 ng-hide="hidden"> Layers </h2>
    </div>
    
    <div class="scroll-wrapper clearfix">
    <div class="scroll clearfix"
        ng-show="checkVisible()">
        <div class="layer tool clearfix" 
            ng-repeat="layer in config.layers.layerInfo" 
            ng-click="selectLayer($index)" 
            ng-class="{'active': $index == config.layers.currentLayer}"
            ng-hide="hidden">

            <div class="crop">
                <img class="preview float-left" ng-src="{{getThumbnail($index)}}"></img>
            </div>
          
            <div class="small-tool float-left" 
                ng-click="hideLayer($event, $index)" > 
                <i class="mdi " ng-class="{'mdi-eye-off': isHidden($index), 'mdi-eye': !isHidden($index)}"> </i> </div>
            <div class="small-tool float-left"
                ng-click="removeLayer($event, $index)"> 
                <i class="mdi mdi-delete"> </i> </div>
            <div class="small-tool float-left"
                ng-click="moveLayerUp($event, $index)" 
                ng-class="{'inactive': $index <= 0}"> 
                <i class="mdi mdi-chevron-double-up"> </i> </div>
            <div class="small-tool float-left" 
                ng-click="moveLayerDown($event, $index)" 
                ng-class="{'inactive': $index == config.layers.numberOfLayers - 1}"> 
                <i class="mdi mdi-chevron-double-down" > </i> </div>
                
            <div class="layer-name float-left input-group">
                <span class="input-group-addon"> {{$index + 1}} </span>
                <input type="text" placeholder="{{layer.name}}" class="form-control text"></input>
            </div>              
        </div>
    </div>
    </div>
    
</div>