<div class="modal-header clearfix">
    <h1 class="modal-title"> Import file </h1>
</div>

<div class="modal-body">
    <div ngf-drop ng-model="files" class="drop-box" ngf-drag-over-class="dragover" ngf-multiple="true" ngf-accept="'image/*'" ngf-select="">
        <span ng-if="files==undefined">Drag images here</span>
        <img ng-repeat="previewImg in imageUrls track by $index" src="{{previewImg}}">
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default btn-lg" ng-click="close()"> Close </button>
    <button type="button" class="btn btn-primary btn-lg" ng-click="upload()" ng-disabled="files==undefined"> Import </button>
</div>
