<!-- <div class="modal fade" role="dialog"> -->
<div class="modal-header clearfix">
    <h3 class="modal-title pull-left">
        Upload file
    </h3>
    <a class="btn pull-right" ng-click="close()">
        <span class="glyphicon glyphicon-remove"></span>
    </a>
</div>
<div class="modal-body">
    <div>
        <span>Drag a file into the box below</span>
    </div>
    <div>
        
    </div>
    <div>
        <a ng-click="openFile()">Or press here to open a file picker</a>
    </div>
    <div class="pull-right">
        <button type="button" class="btn btn-default btn-lg" ng-click="upload()">Upload</button>
    </div>
</div>
<!-- </div> -->